# Server Configuration
PORT=3000
NODE_ENV=production

# Database Configuration  
MONGO_URI=mongodb+srv://sushant:sushant123@cluster0.fyjzech.mongodb.net/bikecrm_db?retryWrites=true&w=majority&appName=Cluster0
MONGO_URI_LOCAL=mongodb://127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+2.8.1

# Security
JWT_SECRET=your_super_secret_key_change_this_in_production

# CORS Configuration
CORS_ORIGIN=https://your-production-domain.com